{% extends 'main/base.html' %}








{% block title %}
Film
{% endblock %}

{% block content %}

<div class="page" style="padding-top: 10px;"><h3 class="mt-2">Music</h3></div><br>



<div class="container" style="padding-top: 15px; padding-bottom: 10px;  padding-left: 50px; padding-right: 50px;max-width: 70%;">
<br>

Lauren Vunderink is a multi-instrumentalist. You can find her singing, playing guitar, or tooting her trumpet or french horn. Go brass!<br><br>

She plays in Hills & Valleys, a duo with her husband, and in Batt Country, a country cover band that plays in the Austin area.<br><br><br><br>


</div>

{% endblock %}
