{% extends 'main/base.html' %}








{% block title %}
Film
{% endblock %}

{% block content %}

<div class="page" style="padding-top: 10px;"><h3 class="mt-2">Film</h3></div><br>



<div class="container" style="padding-top: 15px; padding-bottom: 10px;  padding-left: 50px; padding-right: 50px;max-width: 70%;">
<br>

Lauren Vunderink is a Producer with Writer/Director Emily Hagins’ production company Cheesy Nuggets Productions. <br><br>

She has also worked as an actor, location scout, art department PA, and as a Production Coordinator with the “Hi I’m” series for Discovery+/Magnolia TV.<br><br><br>



<div class="contactcontainer">



<p>{% load static %}<center> <img src="{% static 'mstr.jpeg' %}" alt="home" width="50%" height="50%"/><br>Lauren Vunderink as “Cindy” in MY SUCKY TEEN ROMANCE<br><br><br><br> </center> </p>



<p>{% load static %}<center> <img src="{% static 'img_8615.jpg' %}" alt="home" width="50%" height="50%"/><br>Lauren Vunderink in Los Angeles 2022</center></p>




</div>

</div>

{% endblock %}
